<div class="my-5">
    <h2>Login Form</h2>
    <form [formGroup]="loginForm" (ngSubmit)="signin(loginForm)">
        <h2 *ngIf="errMessage.length > 0" class="alert alert-danger">
            {{ errMessage }}
        </h2>
        <div class="mb-3">
            <label>Email:</label>
            <input [class.is-invalid]="loginForm.get('email')?.errors && loginForm.get('email')?.touched" 
                [class.is-valid]="loginForm.get('email')?.errors == null" 
                formControlName="email" type="email" class="form-control">

            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
                <p *ngIf="loginForm.get('email')?.getError('required')">Required input</p>
                <p *ngIf="loginForm.get('email')?.getError('email')">Enter Valid Email</p>
            </div>
        </div>
        <div class="mb-3">
            <label>Password:</label>
            <input [class.is-invalid]="loginForm.get('password')?.errors && loginForm.get('password')?.touched" 
                [class.is-valid]="loginForm.get('password')?.errors == null" 
                formControlName="password" type="password" class="form-control">

            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
                <p *ngIf="loginForm.get('password')?.getError('required')">Required input</p>
                <p *ngIf="loginForm.get('password')?.getError('pattern')">Enter Valid Password</p>
            </div>
        </div>

        <a routerLink="/forgotPassword" class="text-secondary text-decoration-none">Reset Password....</a>

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success d-block mt-3">
            <span *ngIf="isLoading">
                <i class="fa-solid fa-spinner fa-spin"></i>
            </span>
            Login
        </button>

    </form>
</div>