<div class="forgotPassword my-5">
    <form class="w-75 mx-auto" [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm)">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" id="email" class="form-control"/>
        
        <p class="text-success" *ngIf="successMessage.length > 0">{{successMessage}}</p>
        <p class="text-success" *ngIf="errorMessage.length > 0">{{errorMessage}}</p>

        <button [disabled]="forgotForm.invalid" class="btn bg-success float-end text-light my-3">Send Code</button>
    </form>
</div>